@model List<ResultPaymentDto>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int count = 0;
    string badgeInfo = "";
    string textInfo = "";
}

<div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body ">


            <a class="nav-link btn btn-success create-new-button" href="/Payment/Create/">+ Yeni Ödeme Ekle</a>
           
            <hr />
            <div class="table-responsive">
                <table class="table" id="paymentsTable">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Müşteri</th>
                            <th>Ücret</th>
                            <th>Ödeme Dönemi</th>
                            <th>Ödeme Tarihi</th>
                            <th>Aktif</th> 
                            <th>Sil</th>
                            <th>Güncelle</th>

                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var payment in Model)
                        {
                            count++;
                            <tr>
                                <td>@count</td>
                                <td>@payment.Customer.Name @payment.Customer.LastName </td>
                                <td>@payment.Amount.ToString("C")</td>
                                <td>@payment.PaymentPeriod.ToString("MMMM yyyy")</td>
                                <td>@payment.PaymentDate.ToShortDateString()</td>
                                <td>
                                    @if (payment.IsPaid)
                                    {
                                        badgeInfo = "badge badge-outline-success";
                                        textInfo = "Ödedi";


                                    }
                                    else
                                    {
                                        badgeInfo = "badge badge-outline-danger";
                                        textInfo = "Ödeme Yapılmadı";

                                    }

                                    <label class="@badgeInfo">@textInfo</label>
                                </td>
                                <td>
                                    <a onclick="deleteItem(event)"  class="btn btn-outline-danger btn-group-lg" href="/Payment/Delete/@payment.Id">
                                        <i class="mdi mdi-close-circle-outline"></i>
                                    </a>
                                </td>
                                <td>
                                    <a class="btn btn-outline-warning btn-group-lg" href="/Payment/Update/@payment.Id">
                                        <i class="mdi mdi-database"></i>
                                    </a>
                                </td>

                            </tr>
                        }
                    </tbody>
                </table>
            </div>

            <hr />
            <div style="display: flex; align-content:end">
                <button class="btn btn-primary  add-to-period" style=" display: flex;  text-align: right;" type="submit">Yeni Ödeme Dönemi Ekle</button>
            </div>
        </div>
        
       
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script>
  
    $(document).on('click', '.add-to-period', function () {
        // SweetAlert ile onay penceresini göster
        swal({
            title: "Yeni Ödeme Dönemi Eklemek İstiyor musun?",
            text: "Geçen Ödeme döneminde kayıtlı olan müşteriler için Bu ay için yeni ödeneme dönemi oluşturur.!",
            icon: "warning",
            buttons: true,  // Evet ve Hayır butonlarını ekle
            dangerMode: true,  // Eğer kullanıcı "Hayır" derse tehlike modu
        })
            .then((willProceed) => {  // Kullanıcının yanıtını al
                if (willProceed) {
                    // Kullanıcı "Evet" dediyse AJAX isteğini gönder
                    $.ajax({
                        url: '/Payment/AddNewPaymentPeriod',
                        type: 'POST',
                        success: function (response) {
                            if (response.success) {
                                swal(response.message);
                                setTimeout(function () {
                                    location.reload(); 
                                }, 4000);
                            } else {
                                swal("Bir hata oluştu.");
                            }
                        },
                        error: function () {
                            swal("Bir hata oluştu.");
                        }
                    });
                } else {
                    // Kullanıcı "Hayır" dediyse, işlem yapılmaz
                    swal("İşlem iptal edildi.");
                }
            });
    });
</script>
<script>
    function deleteItem(e) {
        if (!confirm(`Silmek istediğinize emin misiniz?`)) e.preventDefault();
    }
  
</script>

@section Scripts{
    <script src="~/js/paymentIndex.js" type="application/ecmascript"></script>
}
