@model UpdatePaymentDto
@{
    ViewData["Title"] = "Update";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card">
    <div class="card-body">
        <h4 class="card-title">Ödeme Güncelle</h4>
        <hr>
        <form class="form-group" asp-controller="Payment" asp-action="Update" method="post">
            <div asp-validation-summary="ModelOnly"></div>
            <p>Ödeme Miktari</p>
            <span asp-validation-for="Amount" class="text-danger"></span>
            <div class="form-group">
                <div class="input-group">
                    <input asp-for="Amount" type="text" class="form-control" placeholder="500" aria-describedby="basic-addon1" required>
                </div>
            </div>
            <p>Müşteri</p>
            <span asp-validation-for="CustomerId" class="text-danger"></span>
            <div class="form-group">
                <select id="customerList" class="form-control" asp-for="CustomerId" asp-items="@(new SelectList(Model.Customers,"Id","FullName"))" required></select>
            </div>
            <p>Kategori</p>
            <span asp-validation-for="CategoryId" class="text-danger"></span>
            <div class="form-group">
                <select id="categoryList" class="form-control" asp-for="CategoryId" asp-items="@(new SelectList(Model.Categories,"Id","Name"))" required></select>
            </div>
            <p>Ödeme Durumu</p>
            <span asp-validation-for="IsPaid" class="text-danger"></span>
            <div class="form-group">
                <select asp-for="IsPaid" id="paymentStatus" class="form-control" required>
                    <option value='true'>Ödendi</option>
                    <option value='false'>Ödeme Bekliyor</option>

                </select>
            </div>
            <p>Ödeme Dönemi Seçin</p>
            <div class="form-group">

                <select asp-for="PaymentPeriod" id="monthYear" name="PaymentPeriod" class="form-control">
                    @foreach (var item in ViewBag.MonthYearList)
                    {
                        <option value="@item">@item.ToString("MMMM yyyy")</option>
                    }
                </select>
            </div>
            <span asp-validation-for="PaymentDate" class="text-danger"></span>
            <div class="form-group">

                <input asp-for="PaymentDate" type="datetime-local" value="@Model.PaymentDate" required />
            </div>
            <div class="form-group text-center align-items-center">
                <button class="btn btn-outline-success  ">Kaydet</btn>
            </div>
        </form>
    </div>
</div>

