@model List<ResultIncomeDto>
@{
    ViewData["Title"] = "Gelir Sayfası";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int count = 0;
}




<div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">


            <a class="nav-link btn btn-success create-new-button" href="/Income/Create/">+ Yeni Gelir Ekle</a>
            <hr>
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Miktar</th>
                            <th>Kategori</th>
                            <th>Açıklama</th>
                            <th>Tarih</th>
                            <th>Sil</th>
                            <th>Güncelle</th>

                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var income in Model)
                        {
                            count++;
                            <tr>
                                <td>@count</td>
                                <td>@income.Cost.ToString("C", new CultureInfo("tr-TR")) ₺</td>
                                <td>
                                    <label class="badge badge-outline-success">@income.Category.Name</label>
                                </td>
                                @if (income.Description.Length > 30)
                                    {
                                        <td>
                                            @income.Description.Substring(0,30) ...
                                    </td>
                                }
                                else
                                {
                                    <td>@income.Description</td>
                                }

                                <td>@income.IncomeDate.ToString("dd.MM.yyyy")</td>
                           @*      <td>
                                    <a class="btn btn-outline-info btn-group-lg" href="/Income/Active/@income.Id">
                                        <i class="mdi mdi-plus-circle"></i>
                                    </a>
                                </td> *@
                                <td>
                                    <a onclick="deleteItem(event)" id="deleteItem" class="btn btn-outline-danger btn-group-lg " href="/Income/Delete/@income.Id">

                                        <i class="mdi mdi-close-circle-outline"></i>
                                    </a>
                                </td>
                                <td>
                                    <a class="btn btn-outline-warning btn-group-lg" href="/Income/Update/@income.Id">
                                        <i class="mdi mdi-database"></i>
                                    </a>
                                </td>

                            </tr>
                        }

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


<script>
    function deleteItem(e) {
        if (!confirm(`Silmek istediğinize emin misiniz?`)) e.preventDefault();
    }
</script>
